@{
    ViewData["Title"] = "Locations";
}

<div id="system-message-container">
</div>

<div class="uk-section-secondary">
    <div style="background-image: url('/images/about-us-team.jpg');" class="uk-background-norepeat uk-background-top-center uk-background-fixed uk-section uk-padding-remove-bottom">
        <div class="uk-container">
            <div class="uk-margin-xlarge" uk-grid>
                <div class="uk-width-1-1@m">
                    <h1 class="uk-text-center">
                        Directions
                    </h1>

                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section-primary uk-section uk-padding-remove-top uk-padding-remove-bottom">
    <div class="uk-grid-collapse uk-flex-middle" uk-grid>
@*        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-body uk-card-primary">
                <div class="custom">
                    <p>
                        <script type="widgetkit/map" data-id="wk-map61ed584c26888" data-class=" wk-img-preserve" data-style="width:auto;height:400px;">
                            {"width":"auto","height":400,"maptypeid":"roadmap","maptypecontrol":false,"mapctrl":true,"zoom":"19","marker":"3","marker_icon":"","markercluster":false,"popup_max_width":300,"zoomwheel":false,"draggable":true,"directions":false,"disabledefaultui":false,"styler_invert_lightness":false,"styler_hue":"","styler_saturation":0,"styler_lightness":0,"styler_gamma":0,"media":true,"image_width":"auto","image_height":"auto","media_align":"top","media_width":"1-2","media_breakpoint":"medium","media_border":"none","media_overlay":"icon","overlay_animation":"fade","media_animation":"scale","title":false,"content":true,"social_buttons":true,"title_size":"h3","text_align":"left","link":true,"link_style":"button","link_text":"Read more","link_target":false,"class":"","markers":[{"lat":47.699988,"lng":-117.112585,"icon":"","title":"Swiss Confectionery - Otis Orchards","content":"\n<div class=\"wk-text-left\">\n\n    \n    \n    \n    \n        <div class=\"wk-margin\"><h2 style=\"text-align: center; color: black;\">\n    Swiss Confectionery<br>Otis Orchards\n<\/h2>\n<p style=\"text-align: center;\">\n    <a class=\"uk-button uk-button-secondary\" href=\"https:\/\/goo.gl\/xosU8M\" target=\"_blank\">Get Directions<\/a>\n<\/p><\/div>\n    \n    \n    \n    \n<\/div>\n"},{"lat":47.6566929,"lng":-117.1754077,"icon":"","title":"Swiss Confectionery - Spokane Valley","content":"\n<div class=\"wk-text-left\">\n\n    \n    \n    \n    \n        <div class=\"wk-margin\"><h2 style=\"text-align: center; color: black;\">\n    Swiss Confectionery - Spokane Valley\n<\/h2>\n<p style=\"text-align: center;\">\n    <a class=\"uk-button uk-button-secondary\" href=\"https:\/\/goo.gl\/maps\/Y3AQAgyCJxJqp4q7A\" target=\"_blank\">Get Directions<\/a>\n<\/p>\n\n<\/div>\n    \n    \n    \n    \n<\/div>\n"},{"lat":47.7441457,"lng":-116.8303435,"icon":"","title":"Swiss Confectionery - Coeur d'Alene","content":"\n<div class=\"wk-text-left\">\n\n    \n    \n    \n    \n        <div class=\"wk-margin\"><h2 style=\"text-align: center; color: black;\">\n    Swiss Confectionery - Coeur d'Alene\n<\/h2>\n<p style=\"text-align: center;\">\n    <a class=\"uk-button uk-button-secondary\" href=\"https:\/\/www.google.com\/maps\/place\/3270+W+Prairie+Ave,+Coeur+d'Alene,+ID+83815\/@@47.7441457,-116.8325321,17z\/data=!3m1!4b1!4m5!3m4!1s0x5361c10635c98145:0xb398d9f7698a0ec8!8m2!3d47.7441457!4d-116.8303434\" target=\"_blank\">Get Directions<\/a>\n<\/p>\n<\/div>\n    \n    \n    \n    \n<\/div>\n"}],"directionsText":"Get Directions"}
                        </script>
                    </p>
                </div>
            </div>
        </div>
*@
        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-body uk-card-primary">
                <div class="custom">
                    <p>
                        <script type="widgetkit/map" data-id="wk-map61ed584c271f8" data-class=" wk-img-preserve" data-style="width:auto;height:400px;">
                            {"width":"auto","height":400,"maptypeid":"roadmap","maptypecontrol":false,"mapctrl":true,"zoom":"19","marker":"3","marker_icon":"","markercluster":false,"popup_max_width":300,"zoomwheel":false,"draggable":true,"directions":false,"disabledefaultui":false,"styler_invert_lightness":false,"styler_hue":"","styler_saturation":0,"styler_lightness":0,"styler_gamma":0,"media":true,"image_width":"auto","image_height":"auto","media_align":"top","media_width":"1-2","media_breakpoint":"medium","media_border":"none","media_overlay":"icon","overlay_animation":"fade","media_animation":"scale","title":false,"content":true,"social_buttons":true,"title_size":"h3","text_align":"left","link":true,"link_style":"button","link_text":"Read more","link_target":false,"class":"","markers":[{"lat":29.77843,"lng":-90.81808,"icon":"","title":"Swiss Confectionery - Thibodaux, LA","content":"\n<div class=\"wk-text-left\">\n\n    \n    \n    \n    \n        <div class=\"wk-margin\"><h2 style=\"text-align: center; color: black;\">\n    Swiss Confectionery<br>Thibodaux, LA\n<\/h2>\n<p style=\"text-align: center;\">\n    <a class=\"uk-button uk-button-secondary\" href=\"https:\/\/goo.gl\/maps/k34w4H9cV3H5KEkF7\" target=\"_blank\">Get Directions<\/a>\n<\/p><\/div>\n    \n    \n    \n    \n<\/div>\n"}],"directionsText":"Get Directions"}
                        </script>
                    </p>
                </div>
            </div>
        </div>

@*        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-body uk-card-primary">
                <div class="custom">
                    <p>
                        <script type="widgetkit/map" data-id="wk-map61ed584c2774c" data-class=" wk-img-preserve" data-style="width:auto;height:400px;">
                            {"width":"auto","height":400,"maptypeid":"roadmap","maptypecontrol":false,"mapctrl":true,"zoom":"19","marker":"3","marker_icon":"","markercluster":false,"popup_max_width":300,"zoomwheel":false,"draggable":true,"directions":false,"disabledefaultui":false,"styler_invert_lightness":false,"styler_hue":"","styler_saturation":0,"styler_lightness":0,"styler_gamma":0,"media":true,"image_width":"auto","image_height":"auto","media_align":"top","media_width":"1-2","media_breakpoint":"medium","media_border":"none","media_overlay":"icon","overlay_animation":"fade","media_animation":"scale","title":false,"content":true,"social_buttons":true,"title_size":"h3","text_align":"left","link":true,"link_style":"button","link_text":"Read more","link_target":false,"class":"","markers":[{"lat":47.7441457,"lng":-116.8303435,"icon":"","title":"Swiss Confectionery - Coeur d'Alene","content":"\n<div class=\"wk-text-left\">\n\n    \n    \n    \n    \n        <div class=\"wk-margin\"><h2 style=\"text-align: center; color: black;\">\n    Swiss Confectionery<br>Coeur d'Alene\n<\/h2>\n<p style=\"text-align: center;\">\n    <a class=\"uk-button uk-button-secondary\" href=\"https:\/\/www.google.com\/maps?q=3270+W+Prairie+Ave+Coeur+d%E2%80%99Alene,+ID&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjvjNerw8vsAhVPjp4KHSUEB7sQ_AUoAXoECA0QAw\" target=\"_blank\">Get Directions!<\/a>\n<\/p><\/div>\n    \n    \n    \n    \n<\/div>\n"}],"directionsText":"Get Directions"}
                        </script>
                    </p>
                </div>
            </div>
        </div>
*@    </div>
</div>

