@{
    ViewData["Title"] = "Menu";
}

<div id="system-message-container">
</div>

<div class="uk-section-secondary">
    <div style="background-image: url('/images/about-us-team.jpg');" class="uk-background-norepeat uk-background-top-center uk-background-fixed uk-section">
        <div class="uk-container">
            <div class="uk-margin-xlarge" uk-grid>
                <div class="uk-width-1-1@m">
                    <h1 class="uk-text-center">
                        <span id="menutop">The Menu</span>
                    </h1>

                    <hr />

                    <div class="uk-margin uk-text-center">
                        <a class="el-content uk-button uk-button-default" href="@(SwissConfectionery.Contsant.OnlineOrderURL)">
                            Order Online
                        </a>
                    </div>

                    <h1 class="uk-text-center">
                        Jump to a Category
                    </h1>

                    <div class="uk-margin uk-text-center">
                        <div class="uk-flex-middle uk-child-width-auto uk-grid-small uk-flex-center" uk-grid>
                            <div class="el-item">
                                <a class="el-content uk-button uk-button-danger" href="#specialty" uk-scroll>
                                    Sandwiches
                                </a>
                            </div>

                            <div class="el-item">
                                <a class="el-content uk-button uk-button-danger" href="#wings" uk-scroll>
                                    Wings
                                </a>
                            </div>

                            <div class="el-item">
                                <a class="el-content uk-button uk-button-danger" href="#appetizers" uk-scroll>
                                    Appetizers
                                </a>
                            </div>

                            <div class="el-item">
                                <a class="el-content uk-button uk-button-danger" href="#sideskids" uk-scroll>
                                    Sides & Kids
                                </a>
                            </div>
                            <div class="el-item">
                                <a class="el-content uk-button uk-button-danger" href="#salads" uk-scroll>
                                    Salads
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section-primary uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <h1 class="uk-text-center">
                    <span id="specialty">Sandwiches</span>
                </h1>

                <div class="uk-margin uk-text-center">
                    <a class="el-content uk-button uk-button-default" href="#menutop" uk-scroll>
                        Back to Top
                    </a>
                </div>

                <div class="uk-margin">
                    <p>

                        <div id="wk-grid892"
                             class="wk-grid-width-1-1 wk-grid-width-small-1-2 wk-grid-width-medium-1-3 wk-grid-width-large-1-3 wk-grid-width-xlarge-1-3 wk-grid wk-grid-match wk-text-center"
                             data-wk-grid-match="{target:'> div > .wk-panel', row:true}"
                             data-wk-grid-margin="">
                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Southern Single Burger
                                    </h3>

                                    <div class="wk-margin">
                                        Beef Patty, Lettuce, Tomato, Mayonnaise, Onion, Pickle<br />
                                        <br />
                                        7.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Southern Double Burger
                                    </h3>

                                    <div class="wk-margin">
                                        Beef Patty, Lettuce, Tomato, Mayonnaise, Onion, Pickle<br />
                                        <br />
                                        8.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Philly Cheese Steak Sandwich
                                    </h3>

                                    <div class="wk-margin">
                                        Beef Grilled Onion & Peppers, Swiss Cheese & Mayonaisse<br />
                                        <br />
                                        11.99<br />
                                    </div>
                                </div>
                            </div>

                             <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Philly Chicken Sandwich
                                    </h3>

                                    <div class="wk-margin">
                                        Chicken Grilled Onion & Peppers, Swiss Cheese & Mayonaisse<br />
                                        <br />
                                        11.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Fried Chicken Po' Boy
                                    </h3>

                                    <div class="wk-margin">
                                        Chicken Strips, Sam's Sauce, Lettuce, Tomato, Pickle<br />
                                        <br />
                                        11.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Gyro Po' Boy
                                    </h3>

                                    <div class="wk-margin">
                                        Lamb & Beef Meat, Onions, Tomato & Cheese Sauce<br />
                                        <br />
                                        11.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Chicken Sandwich
                                    </h3>

                                    <div class="wk-margin">
                                        Fried or Grilled Chicken on Bun<br />
                                        <br />
                                        7.99<br />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <script>
                            (function ($) {
                                // get the images of the gallery and replace it by a canvas of the same size to fix the problem with overlapping images on load.
                                $("img[width][height]:not(.wk-overlay-panel)", $("#wk-grid892")).each(function () {
                                    var $img = $(this);

                                    if (this.width == "auto" || this.height == "auto" || !$img.is(":visible")) {
                                        return;
                                    }

                                    var $canvas = $('<canvas class="wk-responsive-width"></canvas>').attr({ width: $img.attr("width"), height: $img.attr("height") }),
                                        img = new Image(),
                                        release = function () {
                                            $canvas.remove();
                                            $img.css("display", "");
                                            release = function () {};
                                        };

                                    $img.css("display", "none").after($canvas);

                                    $(img).on("load", function () {
                                        release();
                                    });
                                    setTimeout(function () {
                                        release();
                                    }, 1000);

                                    img.src = this.src;
                                });
                            })(jQuery);
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section-secondary uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <h1 class="uk-text-center">
                    <span id="wings">Wings</span>
                </h1>

                <div class="uk-margin uk-text-center">
                    <a class="el-content uk-button uk-button-default" href="#menutop" uk-scroll>
                        Back to Top
                    </a>
                </div>

                <div class="uk-margin">
                    <p>

                        <div id="wk-grid3f8"
                             class="wk-grid-width-1-1 wk-grid-width-small-1-2 wk-grid-width-medium-1-2 wk-grid-width-large-1-2 wk-grid-width-xlarge-1-2 wk-grid wk-grid-match wk-text-center"
                             data-wk-grid-match="{target:'> div > .wk-panel', row:true}"
                             data-wk-grid-margin="">
                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        WET
                                    </h3>

                                    <div class="wk-margin">
                                        Atomic • Sweet Chili • Jalape&ntilde;o • Sweet Teriyaki • Sweet BBQ • Spicy BBQ • Smoked BBQ • Honey Mustard • Buffalo • Mild • Ranch<br />
                                        <br />
                                        Served with choice of one southern side.<br />
                                        6 Piece Wings - 7.99<br />
                                        10 Piece Wings - 12.99<br />
                                        15 Piece Wings - 18.99<br />
                                        20 Piece Wings - 23.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        DRY
                                    </h3>

                                    <div class="wk-margin">
                                        Smokey Pepper • Lemon Pepper • Louisiana Rub • Cajun • Garlic & Lemon Pepper <br />
                                        <br />
                                        <br />
                                        4 Tenders/4 Wings - 11.99<br />
                                        6 Tenders - 7.99<br />
                                        10 Tenders - 12.99<br />
                                        1 Extra Wing - 1.79<br />
                                        1 Extra Tender - 1.79<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        FAMILY MEALS
                                    </h3>

                                    <div class="wk-margin">
                                        30 Wings - 36.99<br />
                                        30 Tenders - 36.99<br />
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        FAMILY MEALS
                                    </h3>

                                    <div class="wk-margin">
                                        50 Wings - 55.99<br />
                                        100 Wings - 99.99<br />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            (function ($) {
                                // get the images of the gallery and replace it by a canvas of the same size to fix the problem with overlapping images on load.
                                $("img[width][height]:not(.wk-overlay-panel)", $("#wk-grid3f8")).each(function () {
                                    var $img = $(this);

                                    if (this.width == "auto" || this.height == "auto" || !$img.is(":visible")) {
                                        return;
                                    }

                                    var $canvas = $('<canvas class="wk-responsive-width"></canvas>').attr({ width: $img.attr("width"), height: $img.attr("height") }),
                                        img = new Image(),
                                        release = function () {
                                            $canvas.remove();
                                            $img.css("display", "");
                                            release = function () {};
                                        };

                                    $img.css("display", "none").after($canvas);

                                    $(img).on("load", function () {
                                        release();
                                    });
                                    setTimeout(function () {
                                        release();
                                    }, 1000);

                                    img.src = this.src;
                                });
                            })(jQuery);
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section-primary uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">

                <h1 class="uk-text-center">
                    <span id="appetizers">APPETIZERS</span>
                </h1>

                <div class="uk-margin uk-text-center">
                    <a class="el-content uk-button uk-button-default" href="#menutop" uk-scroll>
                        Back to Top
                    </a>
                </div>

                <div class="uk-margin">
                    <p>

                        <div class="uk-margin uk-text-center">
                            <h3>
                                $7.99
                            </h3>
                        </div>
                        <div id="wk-gride32"
                             class="wk-grid-width-1-1 wk-grid-width-small-1-4 wk-grid-width-medium-1-4 wk-grid-width-large-1-4 wk-grid-width-xlarge-1-4 wk-grid wk-grid-match wk-text-center"
                             data-wk-grid-match="{target:'> div > .wk-panel', row:true}"
                             data-wk-grid-margin="">
                            <div class="wk-panel">
                                <h3 class="wk-h2 wk-margin-top-remove">
                                    Mozzarella Sticks
                                </h3>

                            </div>

                            <div class="wk-panel">
                                <h3 class="wk-h2 wk-margin-top-remove">
                                    Onion Rings
                                </h3>

                            </div>

                            <div class="wk-panel">
                                <h3 class="wk-h2 wk-margin-top-remove">
                                    Loaded Fries
                                </h3>

                            </div>

                            <div class="wk-panel">
                                <h3 class="wk-h2 wk-margin-top-remove">
                                    Fried Okra
                                </h3>

                            </div>

                            <div class="wk-panel">
                                <h3 class="wk-h2 wk-margin-top-remove">
                                    Fried Mushrooms
                                </h3>
                            </div>

                            <div class="wk-panel">
                                <h3 class="wk-h2 wk-margin-top-remove">
                                    Jalape&ntilde;os Cheddar Peppers
                                </h3>

                            </div>

                        </div>
                </div>
                @*               <div class="uk-margin uk-text-center">
                <h2 >
                FRESH STUFFED JALAPEÑOS - $8.99
                </h2>
                <div class="wk-margin">
                Starting with a fresh jalapeño cored and placed into the deeper fryer until perfectly tender,stuffed with three options and then baked. Three peppers per order: Pick one of each flavor or three of one flavor.
                </div>
                </div>
                <div id="wk-gride32"
                class="wk-grid-width-1-1 wk-grid-width-small-1-4 wk-grid-width-medium-1-4 wk-grid-width-large-1-4 wk-grid-width-xlarge-1-4 wk-grid wk-grid-match wk-text-center"
                data-wk-grid-match="{target:'> div > .wk-panel', row:true}"
                data-wk-grid-margin="">
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                TACO
                </h3>

                <div class="wk-margin">
                taco bean sauce, beef, onions, black olives, with mozzarella and cheddar cheese
                </div>
                </div>
                </div>
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                THE ORIGINAL
                </h3>

                <div class="wk-margin">
                white sauce, bacon, red onions, and mozzarella cheese
                </div>
                </div>
                </div>
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                BUFFALO CHICKEN
                </h3>

                <div class="wk-margin">
                spicy white sauce, chicken, onions, bacon, mozzarella and blue cheese.
                </div>
                </div>
                </div>
                </div>
                <div class="uk-margin uk-text-center">
                <h2 >
                SLIDERS - $7.99
                </h2>
                <div class="wk-margin">
                Brushed with Garlic Butter and Topped with Parmesan Cheese. • 2 to an Order, One Flavor per Order
                </div>
                </div>
                <div id="wk-gride32"
                class="wk-grid-width-1-1 wk-grid-width-small-1-4 wk-grid-width-medium-1-4 wk-grid-width-large-1-4 wk-grid-width-xlarge-1-4 wk-grid wk-grid-match wk-text-center"
                data-wk-grid-match="{target:'> div > .wk-panel', row:true}"
                data-wk-grid-margin="">
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                THE MEATBALL
                </h3>

                <div class="wk-margin">
                Meatballs, with mozzarella, green peppers and black olives, with pizza sauce on a toasty Tuscan slider bun
                </div>
                </div>
                </div>
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                ITALIAN
                </h3>

                <div class="wk-margin">
                Mozzarella cheese with Salami, pepperoni, banana peppers, black olive and pizza sauce on a toasty Tuscan slider bun.
                </div>
                </div>
                </div>
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                BBQ CHICKEN
                </h3>

                <div class="wk-margin">
                BBQ sauce, chicken, and bacon, with mozzarella on a toasty Tuscan slider bun, topped with green onion.
                </div>
                </div>
                </div>
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                THAI CHICKEN
                </h3>

                <div class="wk-margin">
                Spicy Thai sauce, with chicken, pineapple and mozzarella on a toasty Tuscan bun. Topped with carrot and green onion and teriyaki drizzle.
                </div>
                </div>
                </div>
                <div>
                <div class="wk-panel">
                <h3 class="wk-h2 wk-margin-top-remove">
                CHICKEN CORDON BLEU
                </h3>

                <div class="wk-margin">
                White sauce, with chicken, Canadian bacon, blue cheese on a toasty Tuscan bun, topped with green onion and swirl of yellow mustard.
                </div>
                </div>
                </div>

                *@
            </div>

            <script>
                (function ($) {
                    // get the images of the gallery and replace it by a canvas of the same size to fix the problem with overlapping images on load.
                    $("img[width][height]:not(.wk-overlay-panel)", $("#wk-gride32")).each(function () {
                        var $img = $(this);

                        if (this.width == "auto" || this.height == "auto" || !$img.is(":visible")) {
                            return;
                        }

                        var $canvas = $('<canvas class="wk-responsive-width"></canvas>').attr({ width: $img.attr("width"), height: $img.attr("height") }),
                            img = new Image(),
                            release = function () {
                                $canvas.remove();
                                $img.css("display", "");
                                release = function () { };
                            };

                        $img.css("display", "none").after($canvas);

                        $(img).on("load", function () {
                            release();
                        });
                        setTimeout(function () {
                            release();
                        }, 1000);

                        img.src = this.src;
                    });
                })(jQuery);
            </script>
            </p>
        </div>
    </div>
</div>

<div class="uk-section-secondary uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <h1 class="uk-text-center">
                    <span id="sideskids">Sides &amp; Kids</span>
                </h1>
                <div class="uk-margin uk-text-center">
                    <a class="el-content uk-button uk-button-default" href="#menutop" uk-scroll>
                        Back to Top
                    </a>
                </div>
                <div class="uk-margin">
                    <p>
                        <div id="wk-gridd7f" class="wk-grid-width-1-1 wk-grid-width-small-1-2 wk-grid-width-medium-1-2 wk-grid-width-large-1-2 wk-grid-width-xlarge-1-2 wk-grid wk-grid-match wk-text-center " data-wk-grid-match="{target:'> div > .wk-panel', row:true}" data-wk-grid-margin>
                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        SIDES
                                    </h3>
                                    <div class="wk-margin">
                                        French Fries<BR>
                                        Potato Salad<br>
                                        Coleslaw<br>
                                        <strong>+3.99 For Large</strong><br>
@*                                        <BR><br>
                                        <strong>Smores DIP - 6.99</strong><br>
                                        Hazelnut spread melted with mini marshmallows and served with cinnamon sugar flatbread.
*@                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        KIDS MENU $5.99
                                    </h3>
                                    <div class="wk-margin">
                                        <strong>Served with Fries and Drink</strong><br>
                                        4 Chicken Tenders<BR>
                                        4 Boneless Wings<br>
                                        8 Chicken Nuggest<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            (function($){

                                // get the images of the gallery and replace it by a canvas of the same size to fix the problem with overlapping images on load.
                                $('img[width][height]:not(.wk-overlay-panel)', $('#wk-gridd7f')).each(function() {

                                    var $img = $(this);

                                    if (this.width == 'auto' || this.height == 'auto' || !$img.is(':visible')) {
                                        return;
                                    }

                                    var $canvas = $('<canvas class="wk-responsive-width"></canvas>').attr({width:$img.attr('width'), height:$img.attr('height')}),
                                        img = new Image,
                                        release = function() {
                                            $canvas.remove();
                                            $img.css('display', '');
                                            release = function(){};
                                        };

                                    $img.css('display', 'none').after($canvas);

                                    $(img).on('load', function(){ release(); });
                                    setTimeout(function(){ release(); }, 1000);

                                    img.src = this.src;

                                });

                            })(jQuery);
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section-primary uk-section">
    <div class="uk-container uk-container-small">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <h1 class="uk-text-center">
                    <span id="salads">Salads</span>
                </h1>

                <div class="uk-margin uk-text-center">
                    <a class="el-content uk-button uk-button-default" href="#menutop" uk-scroll>
                        Back to Top
                    </a>
                </div>

                <div class="uk-margin">
                    <p>

                        <div class="uk-margin uk-text-center">
                            <h3>
                                Served with choice of dressing
                            </h3>
                        </div>

                        <div id="wk-grid892"
                             class="wk-grid-width-1-1 wk-grid-width-small-1-2 wk-grid-width-medium-1-3 wk-grid-width-large-1-3 wk-grid-width-xlarge-1-3 wk-grid wk-grid-match wk-text-center"
                             data-wk-grid-match="{target:'> div > .wk-panel', row:true}"
                             data-wk-grid-margin="">
                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Grilled Chicken Salad | $12.99
                                    </h3>

                                    <div class="wk-margin">
                                        Lettuce, spring mix, tomato, pickles, onions
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Fried Chicken Salad | $12.99
                                    </h3>

                                    <div class="wk-margin">
                                        Lettuce, spring mix, tomato, pickles, onions

                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Gyro Salad | $12.99
                                    </h3>

                                    <div class="wk-margin">
                                        Lettuce, spring mix, tomato, pickles, onions
                                    </div>
                                </div>
                            </div>

                            @*                            <div>
                            <div class="wk-panel">
                            <h3 class="wk-h2 wk-margin-top-remove">
                            TACO SALAD | $9.99
                            </h3>

                            <div class="wk-margin">
                            Mixed greens topped with chicken, onions, olives, tomatoes, tortilla chips, and cheddar cheese. Served with a side of ranch and salsa.
                            </div>
                            </div>
                            </div>
                            *@
                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Green Salad | $6.99
                                    </h3>

                                    <div class="wk-margin">
                                        Lettuce, spring mix, tomato, pickles, onions
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="wk-panel">
                                    <h3 class="wk-h2 wk-margin-top-remove">
                                        Chef Salad | $12.99
                                    </h3>

                                    <div class="wk-margin">
                                        Lettuce, spring mix, tomato, onions, eggs, chopped turkey
                                    </div>
                                </div>
                            </div>

                        </div>

                        <script>
                            (function ($) {
                                // get the images of the gallery and replace it by a canvas of the same size to fix the problem with overlapping images on load.
                                $("img[width][height]:not(.wk-overlay-panel)", $("#wk-grid892")).each(function () {
                                    var $img = $(this);

                                    if (this.width == "auto" || this.height == "auto" || !$img.is(":visible")) {
                                        return;
                                    }

                                    var $canvas = $('<canvas class="wk-responsive-width"></canvas>').attr({ width: $img.attr("width"), height: $img.attr("height") }),
                                        img = new Image(),
                                        release = function () {
                                            $canvas.remove();
                                            $img.css("display", "");
                                            release = function () { };
                                        };

                                    $img.css("display", "none").after($canvas);

                                    $(img).on("load", function () {
                                        release();
                                    });
                                    setTimeout(function () {
                                        release();
                                    }, 1000);

                                    img.src = this.src;
                                });
                            })(jQuery);
                        </script>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


