@model AuthenticateModel
@{
    ViewData["Title"] = "Home";

}
<meta name="robots" content="noindex" />

@if (Model.Authenticate)
{
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/js/slick.js"></script>

    @*@await Html.PartialAsync("_WebsiteMessage")*@
    <div id="system-message-container">
    </div>

    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">APPETIZERS</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225449?h=60a91451ed&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="10 PC Breadsticks"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225211?h=90c16f9b1a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Flatbread"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225302?h=14e58e93a0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Regular Cheese Bread"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225325?h=bb06ad377e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Artichoke Dip"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225382?h=1c49474116&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Meatballs"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225425?h=7cabc85d4b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded Cheese Bread"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225521?h=bd1c85a0a9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Stuffed jalapenos"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">SLIDERS</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684303171?h=7873b4bb2d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Italian Sliders"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684302960?h=25decbe4b6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Meatball Sliders"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684302893?h=47a5f7b139&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Chicken Cordon Blue Sliders"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684303285?h=ea40e8a021&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="BBQ Chicken Sliders"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684303248?h=57ec8ddef6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Thai Chicken Sliders"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">TOTS</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225481?h=ca5b18ae7a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded Thai Tots"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225505?h=1f397c13b2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded BBQ Chicken Tots"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225527?h=cc8b6346b1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded Taco Tots"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225576?h=f64303fb2c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded Steak Tots"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225600?h=28f69c8763&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded Greek Tots"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225137?h=0d08a6d57c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Loaded Buffalo Chicken Tots"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">PIZZAS</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225243?h=411eb6cfd2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Original Combo"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225193?h=844b24a663&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Taco Pizza"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225284?h=08716bbb1c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="2 Topping Pizza"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225353?h=b0f0f7a1ee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Spicy Thai Chicken Pizza"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225616?h=0f1337ade0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Balsamic Blue Cheese &amp;amp; Peaches"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225637?h=e08c51b1bd&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Spicy Baked Potato Pizza"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225113?h=e67fd758dc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Buffalo Mac &amp;amp; Cheese Pizza"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">CALZONE</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225262?h=285eec5ab6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Calzone"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">STROMBOLI</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:100% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225395?h=f89f68e3bd&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Stromboli"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">PASTAS</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684303137?h=704fd9a646&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Single Mac &amp;amp; Cheese"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684303028?h=c5806d5901&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Family Lasagna"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="uk-section-default uk-section uk-padding-remove-vertical">
        <div class="uk-grid-margin" uk-grid>
            <div class="uk-width-1-1@m">
                <div class="uk-card uk-card-body uk-card-secondary">
                    <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                        <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                                <div class="acymailing_module_form">
                                    <div class="acymailing_introtext"><h2 style="text-align: center;">DESSERTS</h2></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section-secondary uk-section">
        <div class="uk-container">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-expand@m">
                <div class="uk-margin">
                        <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/680225550?h=57dcdac2f0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Dessert Calzone"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684303385?h=63ab749999&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Cinnamon Twists"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
                <div class="uk-width-expand@m">
                    <div class="uk-margin">
                        <div style="padding:177.78% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/684769358?h=6770f9a1cc&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="S&amp;#039;mores Dip"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <div class="uk-section-default uk-section">
        <div class="uk-container uk-container-small">
            <div class="uk-grid-margin" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-panel">
                        <div class="bfClearfix">
                            <div id="ff_formdiv1" class="bfFormDiv">
                                <form  class="bfQuickMode" method="post" asp-route="Videos">
                                    @Html.ValidationSummary()
                                    <div id="bfPage1" class="bfPage">
                                        <div class="bfErrorMessage alert alert-error" style="display: none;"></div>
                                        <div class="bfElemWrap control-group" id="bfElemWrap1">
                                            <div class="controls form-inline">
                                                <div class="">
                                                    <label class="control-label" id="bfLabel1" for="ff_elem1">Password <i class="icon-asterisk"></i> </label>
                                                    <input class="ff_elem inputbox" asp-for="Password" />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bfClearfix"></div>
                                        <div class="form-actions">
                                            <div class="">
                                                <input type="submit" value="Submit"  class="bfSubmitButton btn btn-primary pull-right button" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
    .text-danger{
        color:red;
    }
    #ff_formdiv1 .inputbox[type=text],
    #ff_formdiv1 .inputbox[type=email]{
        width: 100% !important;
        border-bottom: 1px solid rgba(0,0,0,0.8) !important;
    }

    textarea:not([class*=uk-]) {
        border: 1px solid rgba(0,0,0,0.8) !important;
    }

    .form-actions {
        border: none !important;
    }

    .icon-asterisk:before, .icon-star-empty:before, .icon-unfeatured:before {
        content: "*" !important;
        color:red !important;
    }
</style>
}
