
<section class="custom-section-wrapper" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-header-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <h2>What People Say About Us?</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="google-review-wrapper">
                    <div class="google-bg">
                        <div class="googlle-review-content">
                            <p><img src="/assets/images/reviews google.png" class="me-3">More than <strong>206 review</strong> on google</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mt-5 align-items-center">
            <div class="col-lg-4">
                <ul class="clent-list">
                    <li>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                    </li>
                    <li>
                        <p>Check out what our clients say</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="review-add-list text-end">
                    <li>
                        <a href="#">
                            <i class="fa fa-google me-2"></i> Leave review on google
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook me-2"></i> Leave review on facebook
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sldier-header">
                                <div class="slier-img">
                                    <img src="/assets/images/Review1.png">
                                </div>
                                <div class="slider-content">
                                    <h4>name</h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sldier-header">
                                <div class="slier-img">
                                    <img src="/assets/images/Review1.png">
                                </div>
                                <div class="slider-content">
                                    <h4>name</h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sldier-header">
                                <div class="slier-img">
                                    <img src="/assets/images/Review1.png">
                                </div>
                                <div class="slider-content">
                                    <h4>name</h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sldier-header">
                                <div class="slier-img">
                                    <img src="/assets/images/Review1.png">
                                </div>
                                <div class="slider-content">
                                    <h4>name</h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sldier-header">
                                <div class="slier-img">
                                    <img src="/assets/images/Review1.png">
                                </div>
                                <div class="slider-content">
                                    <h4>name</h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sldier-header">
                                <div class="slier-img">
                                    <img src="/assets/images/Review1.png">
                                </div>
                                <div class="slider-content">
                                    <h4>name</h4>
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="slider-body">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>