<div class="uk-section-default uk-section uk-padding-remove-vertical">
    <div class="uk-grid-margin" uk-grid>
        <div class="uk-width-1-1@m">
            <div class="uk-card uk-card-body uk-card-secondary">
                <div class="acymailing_module" id="acymailing_module_formAcymailing72431">
                    <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing72431">
                        <form id="formAcymailing72431" action="https://www.SwissConfectionery.com/" onsubmit="return submitacymailingform('optin','formAcymailing72431')" method="post" name="formAcymailing72431">
                            <div class="acymailing_module_form">
                                <div class="acymailing_introtext"><h3 style="text-align: center;">Join our mailing list for the latest news, specials, and exclusive offers!</h3></div>			<table class="acymailing_form">
                                    <tr>
                                        <td><label for="user_name_formAcymailing72431" class="acy_requiredField">Name</label></td>
                                        <td class="acyfield_name ">
                                            <input id="user_name_formAcymailing72431" style="width:80%" type="text" class="inputbox required" name="user[name]" value="" title="Name" />
                                        </td>
                                        <td><label for="user_email_formAcymailing72431" class="acy_requiredField">Email</label></td>
                                        <td class="acyfield_email ">
                                            <input id="user_email_formAcymailing72431" style="width:80%" type="text" class="inputbox required" name="user[email]" value="" title="Email" />
                                        </td>
                                        <td><label class="acy_requiredField">Preferred Location</label></td>
                                        <td class="acyfield_location ">
                                            <select class="required" id="user_location_formAcymailing72431" name="user[location]" size="1" title="Preferred Location">
                                                <option value="Otis Orchards" id="user_location_formAcymailing72431_Otis_Orchards" selected="selected">Otis Orchards</option>
                                                <option value="Spokane Valley" id="user_location_formAcymailing72431_Spokane_Valley">Spokane Valley</option>
                                                <option value="Coeur d'Alene" id="user_location_formAcymailing72431_Coeur_d'Alene">Coeur d'Alene</option>
                                            </select>
                                        </td>

                                        <td class="acysubbuttons">
                                            <input class="button subbutton btn btn-primary" type="submit" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing72431'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
                                        </td>
                                    </tr>
                                </table>
                                <input type="hidden" name="ajax" value="1" />
                                <input type="hidden" name="acy_source" value="module_101" />
                                <input type="hidden" name="ctrl" value="sub" />
                                <input type="hidden" name="task" value="notask" />
                                <input type="hidden" name="redirect" value="https%3A%2F%2Fwww.SwissConfectionery.com%2F" />
                                <input type="hidden" name="redirectunsub" value="https%3A%2F%2Fwww.SwissConfectionery.com%2F" />
                                <input type="hidden" name="option" value="com_acymailing" />
                                <input type="hidden" name="hiddenlists" value="1" />
                                <input type="hidden" name="acyformname" value="formAcymailing72431" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    :root {
  --radius: 2px;
  --baseFg: dimgray;
  --baseBg: white;
  --accentFg: #006fc2;
  --accentBg: #bae1ff;
}

    #acymailing_module_formAcymailing72431 .inputbox, .acyfield_location select{
        border: 1px solid #fff !important;
        color:#fff !important;
    }
    .acymailing_module_form td{
        padding: 10px !important;
    }

    .acyfield_location select option {
        background:#000 !important;
    }
    .acyfield_location select:focus{
        border: 1px solid #fff !important;
    }
</style>